flows.json
[{"id":"3dc9face.94a7d6","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"56a94675.901a08","type":"ibmiot in","z":"3dc9face.94a7d6","authentication":"apiKey","apiKey":"bfa125f3.968678","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"Nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":120,"wires":[["a5fdbc3c.ad0df","b28c8bf1.119ce8","78864da9.d99a94","4cfcf747.f94c88","8886d8a9.1a1928","cf32ad13.ed6f1"]]},{"id":"a5fdbc3c.ad0df","type":"debug","z":"3dc9face.94a7d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":120,"wires":[]},{"id":"b28c8bf1.119ce8","type":"ui_gauge","z":"3dc9face.94a7d6","name":"","group":"1719ea6c.e67666","order":3,"width":0,"height":0,"gtype":"gage","title":"Temprature","label":"units","format":"{{msg.payload.Temprature}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":200,"wires":[]},{"id":"78864da9.d99a94","type":"ui_gauge","z":"3dc9face.94a7d6","name":"","group":"1719ea6c.e67666","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{msg.payload.Pressure}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":260,"wires":[]},{"id":"4cfcf747.f94c88","type":"ui_gauge","z":"3dc9face.94a7d6","name":"","group":"1719ea6c.e67666","order":5,"width":0,"height":0,"gtype":"gage","title":"Gas","label":"units","format":"{{msg.payload.Gas}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":320,"wires":[]},{"id":"8886d8a9.1a1928","type":"ui_gauge","z":"3dc9face.94a7d6","name":"","group":"1719ea6c.e67666","order":6,"width":0,"height":0,"gtype":"gage","title":"Smoke","label":"units","format":"{{msg.payload.Smoke}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":380,"wires":[]},{"id":"cf32ad13.ed6f1","type":"ui_gauge","z":"3dc9face.94a7d6","name":"","group":"1719ea6c.e67666","order":7,"width":0,"height":0,"gtype":"gage","title":"Proximity","label":"units","format":"{{msg.payload.Proximity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":440,"wires":[]},{"id":"bfa125f3.968678","type":"ibmiot","z":"","name":"NewAPI","keepalive":"60","serverName":"n6srqj.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1719ea6c.e67666","type":"ui_group","z":"","name":"IOT App","tab":"20b950fd.e09c1","order":1,"disp":true,"width":"6","collapse":false},{"id":"20b950fd.e09c1","type":"ui_tab","z":"","name":"Home1","icon":"dashboard","disabled":false,"hidden":false}]